<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generateduid</key>
	<array>
		<string>DD24623B-37E9-48EE-A726-D2F284921882</string>
	</array>
	<key>name</key>
	<array>
		<string>local_desktop</string>
	</array>
	<key>realname</key>
	<array>
		<string>local_desktop</string>
	</array>
</dict>
</plist>
